pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "LookupOldWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "00:05:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WatermarkDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupNewWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select MAX(ModifiedDate) as NewWatermarkvalue from Production.Product",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_SourceTerritoryData",
						"type": "DatasetReference",
						"parameters": {
							"schema": "Sales",
							"tableName": "SalesTerritory"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "CD_Dim_SalesTerritory_Incremental",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupNewWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT\nTerritoryID AS TerritoryID,\nName AS Territory,\nCountryRegionCode AS CountryRegionCode,\nModifiedDate AS SalesTerritoryModifiedDateTs\nFROM Sales.SalesTerritory\nWHERE ModifiedDate > '@{activity('LookupOldWaterMarkActivity').output.firstRow.LastRunCheckpoint}' and ModifiedDate <= '@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}'\n",
							"type": "Expression"
						},
						"queryTimeout": "00:15:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"TerritoryID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TerritoryID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TerritoryID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Territory",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Territory",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CountryRegionCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CountryRegionCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalesTerritoryModifiedDateTs",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SalesTerritoryModifiedDateTs",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_SourceTerritoryData",
						"type": "DatasetReference",
						"parameters": {
							"schema": "Sales",
							"tableName": "SalesTerritory"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_TargetWh",
						"type": "DatasetReference",
						"parameters": {
							"schema": "Analytics",
							"table": "Dim_SalesTerritory"
						}
					}
				]
			},
			{
				"name": "StoredProceduretoWriteWatermarkActivity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CD_Dim_SalesTerritory_Incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"ModifiedDate": {
							"value": "@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}",
							"type": "DateTime"
						},
						"TableName": {
							"value": "@{activity('LookupOldWaterMarkActivity').output.firstRow.TableName}",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_FortudeWork",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CD_Dim_SalesTerritory_Product",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWaterMarkActivityProduct",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupNewWaterMarkActivityProduct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT\nP.ProductID AS ProductID,\nP.[Name] AS ProductName,\nISNULL(PC.[Name],'N/A') AS ProductCategory,\nISNULL(PSC.[Name],'N/A') AS ProductSubCategory,\nP.ProductNumber AS ProductNumber,\nP.SafetyStockLevel AS SafetyStockLevel,\nP.StandardCost AS StandardCost,\nP.ListPrice AS ListPrice,\nP.ModifiedDate AS ProductModifiedTs,\nPC.ModifiedDate AS ProductCategoryModifiedTs,\nPSC.ModifiedDate AS ProductSubcategoryModifiedTs\nFROM Production.Product P\nLEFT JOIN Production.ProductSubcategory PSC ON P.ProductSubcategoryID = PSC.ProductSubcategoryID\nLEFT JOIN Production.ProductCategory PC ON PSC.ProductCategoryID = PC.ProductCategoryID\nWHERE P.ModifiedDate > '@{activity('LookupOldWaterMarkActivityProduct').output.firstRow.LastRunCheckpoint}' and P.ModifiedDate <= '@{activity('LookupNewWaterMarkActivityProduct').output.firstRow.NewWatermarkvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "00:15:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ProductID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProductCategory",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductCategory",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProductSubCategory",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductSubCategory",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProductNumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SafetyStockLevel",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SafetyStockLevel",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "StandardCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "StandardCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ListPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ListPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ProductModifiedTs",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ProductModifiedTs",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ProductCategoryModifiedTs",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ProductCategoryModifiedTs",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ProductSubcategoryModifiedTs",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ProductSubcategoryModifiedTs",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_SourceProductData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_TargetProducts",
						"type": "DatasetReference",
						"parameters": {
							"schema": "Analytics",
							"table": "Dim_Product"
						}
					}
				]
			},
			{
				"name": "LookupOldWaterMarkActivityProduct",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "00:05:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ProductWatermarkDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupNewWaterMarkActivityProduct",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select MAX(ModifiedDate) as NewWatermarkvalue from Production.Product",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_SourceProductData",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "StoredProceduretoWriteWatermarkProduct",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CD_Dim_SalesTerritory_Product",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark_product]",
					"storedProcedureParameters": {
						"ModifiedDate": {
							"value": "@{activity('LookupNewWaterMarkActivityProduct').output.firstRow.NewWatermarkvalue}",
							"type": "DateTime"
						},
						"TableName": {
							"value": "@{activity('LookupOldWaterMarkActivityProduct').output.firstRow.TableName}",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_FortudeWork",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LookupOldWaterMarkActivitySalesOrderDetail",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "00:05:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SalesOrderDetailWatermarkDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupNewWaterMarkActivitySalesOrderDetail",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select MAX(ModifiedDate) as NewWatermarkvalue from Sales.SalesOrderDetail",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SalesOrderDetailWatermarkDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "CD_Fact_SalesOrderDetail_Incremental",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWaterMarkActivitySalesOrderDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupNewWaterMarkActivitySalesOrderDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT\nSD.SalesOrderDetailID AS SalesOrderDetailID,\nSH.SalesOrderID AS SalesOrderID,\nSD.ProductID AS ProductKey,\nSH.Status AS Status,\nSH.TerritoryID AS TerritoryKey,\nSH.OrderDate AS OrderDate,\nSH.DueDate AS DueDate,\nSH.ShipDate AS ShipDate,\nCONVERT(INT, CONVERT(VARCHAR(8),SH.OrderDate,112)) AS SalesOrderDateKey,\nCONVERT(INT, CONVERT(VARCHAR(8),SH.DueDate,112)) AS SalesOrderDueDateKey,\nSD.OrderQty,\nSD.UnitPrice,\nSD.UnitPriceDiscount,\nSD.LineTotal,\nSH.SubTotal AS SalesOrderSubTotal,\nSH.TaxAmt AS SalesOrderTaxAmount,\nSH.Freight AS SalesOrderFreighAmount,\nSH.TotalDue AS SalesOrderTotalDueAmount,\nSD.ModifiedDate AS SalesOrderDetailModifiedTs,\nSH.ModifiedDate AS SalesOrderDateModifiedTs\nFROM Sales.SalesOrderDetail SD\n\tLEFT JOIN Sales.SalesOrderHeader SH ON SD.SalesOrderID = SH.SalesOrderID\nWHERE SD.ModifiedDate > '@{activity('LookupOldWaterMarkActivitySalesOrderDetail').output.firstRow.LastRunCheckpoint}' and SD.ModifiedDate <= '@{activity('LookupNewWaterMarkActivitySalesOrderDetail').output.firstRow.NewWatermarkvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "00:15:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ProductKey"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProductKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ProductKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TerritoryKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TerritoryKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SalesOrderDueDateKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SalesOrderDueDateKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SalesOrderDateKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SalesOrderDateKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SalesOrderDetailID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SalesOrderDetailID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SalesOrderID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SalesOrderID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "Status",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "OrderDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OrderDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DueDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DueDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ShipDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ShipDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OrderQty",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "OrderQty",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "UnitPriceDiscount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "UnitPriceDiscount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "LineTotal",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 38
								},
								"sink": {
									"name": "LineTotal",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "SalesOrderSubTotal",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "SalesOrderSubTotal",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "SalesOrderTaxAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "SalesOrderTaxAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "SalesOrderFreighAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "SalesOrderFreighAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "SalesOrderTotalDueAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "SalesOrderTotalDueAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "SalesOrderDetailModifiedTs",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SalesOrderDetailModifiedTs",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "SalesOrderDateModifiedTs",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SalesOrderDateModifiedTs",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_SourceSalesOrderDetailData",
						"type": "DatasetReference",
						"parameters": {
							"schema": "Sales",
							"tableName": "SalesOrderDetail"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_TargetSalesOrderDetail",
						"type": "DatasetReference",
						"parameters": {
							"schema": "Analytics",
							"table": "Fact_SalesOrderDetail"
						}
					}
				]
			},
			{
				"name": "SPtoWriteWatermarkActivitySalesOrderDetail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CD_Fact_SalesOrderDetail_Incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark_SalesOrderDetail]",
					"storedProcedureParameters": {
						"ModifiedDate": {
							"value": "@{activity('LookupNewWaterMarkActivitySalesOrderDetail').output.firstRow.NewWatermarkvalue}",
							"type": "DateTime"
						},
						"TableName": {
							"value": "@{activity('LookupOldWaterMarkActivitySalesOrderDetail').output.firstRow.TableName}",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_FortudeWork",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}